*{
    margin: 0;
}

#deliverypage {
    display: flex;
    flex-direction: column;
}
#Header_1{
    display: flex;
    height: 60px;
    width: 100%;
    
    background-color: white;
    text-align: center;
    border-bottom: 1px solid black;
}

#menu:hover {
    
    text-decoration: underline;
}
#promotion:hover {
    
    text-decoration: underline;
}
#stores:hover {
    
    text-decoration: underline;
}


 #Header_1 #Header_left_1{
    margin-left: 710px;
 }

 #Header_left_1 #logo_kfc{
    width: 90px;
    height: 35px;
    margin-top: 10px;
 }

 #Header_right_1{
    display: flex;
    width: 50%;
    height: 80px;
}

#Header_right_1 div {
    font-size: 14px;
    font-family: Arial, copperplate, sans-serif ;
    font-style:inherit;
    margin-left: 400px;
    margin-top: 25px;
    margin-right: 35px;
    font-weight: bold;
}

 #Header_right_1 img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

.ordersection{
    display: flex;
    width: 100%;
    height: 380px;
}

#banner2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 380px;
 }


.ordersection #node{
    position:absolute;
    display: flex;
    font-family: Arial, copperplate, sans-serif ;
    flex-direction: column;
}

.ordersection #note{
    display: flex;
    font-size: 30px;
    margin-left: 640px;
    margin-top: 25px;
    color: white;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 35px;
}

#note_1{
    display: flex;
    margin-left: 520px;
    width: 250px;
    height: 50px;
    color: #000;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 20px;
    font-weight:700;
}
#note_2{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 500px;
    height: 180px;
    margin-left: 520px;
}
#note_2 button{
    background-color: #E4002B;
    margin-top: 30px;
    width: 440px;
    height: 45px;
    margin-left: 30px;
    border-radius: 20px;
    border: 0;
    font-size: 17px;
    color: white;
}
#note_2 #input_diachi{
    width: 440px;
    height: 50px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 15px;
}

.footer{
    margin-top: 160px;
    height: 140px;
    background-color: #202124;
    flex-direction: column;
    
}

#footer_commet{
    margin-top: 50px;
    color: #ababab;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 40px;
}

.footer img{
    margin-left: 735px;
    width: 60px;
    height: 35px;
}